@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap");

:root {
  --primary: #394942;
  --primary900: #082315;
  --secondary: #728180;
  --gray: #8d8b88;
  --gray100: #e5e5e5;
  --background: hsl(212, 74%, 95%);
  --red: rgb(255, 0, 0);
  --red100: rgb(255, 215, 215);

  --text-color: var(--primary-900);

  --font-sans: "Source Sans 3", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --border-radius: 7rem;
}

body {
  background: var(--background);
  font-family: var(--font-sans);
  color: var(--text-color);
}

input {
  border: none;
  border-radius: var(--border-radius);
}

a {
  color: inherit;
}